LOCAL_HOSTNAME=jagian
LOCAL_USER=jagaro
LOCAL_IPV4_ADDRESS=
LOCAL_IPV4_CIDR=
LOCAL_IPV4_GATEWAY=
LOCAL_IPV4_DNS=
APT_CACHER_IP=
APT_CACHER_URL=
VPN_DNS_IPV4=
VPN_DNS_IPV6=
VPN_ENDPOINT=
VPN_PUBLIC_KEY=
WG_IPV4=
WG_IPV6=
WG_PRIVATE_KEY=
